SUPABASE_URL=
SUPABASE_ANON_KEY=
BOT_USERNAME=
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_DEFAULT_MODEL=openai/gpt-oss-120b:free
ENV=development
APP_BASE_URL=https://habitflow.app
BOT_PUBLIC_CHANNEL=https://t.me/habitflow_dev
OPENROUTER_KEYS_URL=https://openrouter.ai/keys
